.actionbtn{
  margin-top:20px;
  text-align:right;
}
.navbar{
  background-color: red;
}
.user-panel>.info>p {
    margin-bottom: 2px;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single,
.note-editor.note-frame.panel  {
  border-radius: 0px !important;
  border-color: #d2d6de;
}
.select2-container--default .select2-selection--single {
  height: 32px;
}